.vagrant/machines/nfss/virtualbox/vagrant_cwd
.vagrant/machines/nfsc/virtualbox/action_provision
.vagrant/machines/nfsc/virtualbox/action_set_name
.vagrant/machines/nfsc/virtualbox/creator_uid
.vagrant/machines/nfsc/virtualbox/box_meta
.vagrant/machines/nfsc/virtualbox/id
.vagrant/machines/nfsc/virtualbox/index_uuid
.vagrant/machines/nfsc/virtualbox/synced_folders
.vagrant/machines/nfsc/virtualbox/private_key
.vagrant/machines/nfsc/virtualbox/vagrant_cwd
.vagrant/machines/nfss/virtualbox/action_provision
.vagrant/machines/nfss/virtualbox/box_meta
.vagrant/machines/nfss/virtualbox/action_set_name
.vagrant/machines/nfss/virtualbox/id
.vagrant/machines/nfss/virtualbox/creator_uid
.vagrant/machines/nfss/virtualbox/private_key
.vagrant/machines/nfss/virtualbox/index_uuid
.vagrant/machines/nfss/virtualbox/synced_folders
.vagrant/rgloader/loader.rb
